*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(30, 61, 79, 0.863);
}

nav > h1 {
    color: black;
    margin-left: 20px;
}

#nav-bar {
    background-color: rgb(200, 255, 127);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 10px;
    /* margin-right: 50px; */
    /* padding-right: 150px; */
    font-size: 40x;
}

.top-left > ul > li {
    display: inline;
    justify-content: end;
    padding-right: 30px;
    font-size: 25px;
    /* justify-content: end; */
}
.sectbody{
    color: black;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.work {
    text-align: center;
    font-size: 20px;
}

.work h2 {
    color: black;
}

#About-me {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#Services h2 {
    text-align: center;
}

.service {
    display: flex;
    justify-content: space-evenly;
}


