*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 0;
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(99, 182, 43);
    background-size: cover;
}

nav > a{
    color: black;
    margin-left: 20px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#nav-bar {
    background-color: rgb(200, 255, 127);
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 20x;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
}

.top-left > ul > li {
    display: inline;
    justify-content: end;
    padding-right: 30px;
    font-size: 20px;
    list-style: none;
    text-decoration: none;

}
.sectbody{
    color: black;
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 5px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.sectbody img {
    float: left;
    margin-left: 50px;
    bottom: 30px;
    border-radius: 10px;
}

.sectbody h2 {
    color: midnightblue;
    padding: 20px;
}

.work {
    text-align: center;
    font-size: 20px;
}

.work h2 {
    color: darkgreen;  
}

.work h5 {
    color: blueviolet;
    font-size: 25px;
}

.work li {
    text-align: left;
    color: black;
    margin-left: 30px;
}

.style-body {
    background-color: dimgray;
}

#About-me {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    background-color: teal;
    padding: 100px;
}

#About-me h2 {
    color: darkgreen;
}

#Services h2 {
    text-align: center;
    font-size: 30px;
    color: darkgreen;
}

.service {
    display: flex;
    justify-content: space-evenly;
}

.service li {
    color: gainsboro;
    font-size: 22px;
}

#contact {
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact h2 {
    text-align: center;
    color: darkgreen;
}

#contact p {
    margin-left: 30px;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

.contact-icons p{
    color: darkred;
}
.footer {
    background-color: rgb(255, 210, 127);
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icons p {
    color: navy;
}

.subscribe {
    margin-top: 20px;
    text-align: center;
}

.subscribe a{
    color: red;
}